@import url('root.css');
@import url('navbar.css');
@import url('footer.css');
@import url('style.css');


.drinkar {
    grid-column: 2 / 12;
    margin: 20px 0;
}
.meni {
    grid-column: 12 /12;
    margin: 20px 0;
}
.aw-event {grid-column: 12 /12;
    margin: 20px 0;
}
.oppettider {
    grid-column: 12 /12;
    margin: 20px 0;
}