.navbar {
    margin: 0;
    font-family: var(--ff-primary);
    padding: 10px 0;
    position: sticky;
    top: 0;
    transition: all 0.3s ease;
    width: 100%;
    z-index: 999;
}

.navbar .navbar-container {
    width: 90%;
    border-bottom: 1px solid #111;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
        max-width: 100%;
        padding: 10px;
        margin-right: 35px;
        max-height: 200px;
        
    }

    .logo a img{
    max-height: 200px;
    margin: 0;
    max-width: inherit;
    object-fit: cover;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar .menu li a {
    color: var(--color-secondary);
    text-decoration: none;
    display: block;
    font-size: 25px;
    font-weight: 800;
    transition: color 0.3s ease;
}
.navbar .menu li a span {
    color: var(--color-fifth);
}
.navbar .menu li a:hover {
    color: var(--color-secondary);
    text-decoration: underline;
}
.menu-btn {
    color:var(--color-secondary) ;
    cursor: pointer;
    display: none;
    font-size: 40px;
}

@media (max-width:1530px) {
    .menu-btn {
        margin-right: 15px;
        font-size: 30px;
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content:"\f00d";
    }
    .navbar .menu {
        position: fixed;
        background: #111;
        height: 100vh;
        width: 100%;
        left: -1000%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
        
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 30px;
    } 
}
    @media (max-width:1000px) {
        .navbar .navbar-container {
            justify-content: space-evenly;
        }
    }