@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap');
:root {
    /* Font families */
    --ff-primary: 'Poppins', serif;
    --ff-secondary: 'Raleway',sans-serif;
    /* --ff-third: 'Crimson Text', serif; */

    /* Colors */
    --color-primary: White;
    --color-secondary: black;
    --color-third: purple;
    --color-fourth: pink;
    --color-fifth: orange;
}

