@import url('root.css');

* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--ff-primary);
}

p {
    font-family: var(--ff-secondary);
    font-size: 20px;
    
}
/* var(--color-fourth), 
var(--color-fifth)); */
html, body {
    background: linear-gradient(#eb8383, #8a90e7);
     
    margin: 0;
    padding: 0;
}

.navbar {
    margin: 0;
    font-family: var(--ff-primary);
    padding: 10px 0;
    position: sticky;
    top: 0;
    transition: all 0.3s ease;
    width: 100%;
    z-index: 999;
}

.navbar .navbar-container {
    width: 90%;
    border-bottom: 1px solid #111;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .logo  {
    border: 1px solid #999;
 } */
.logo a {
        max-width: 100%;
        padding: 10px;
        margin-right: 35px;
        max-height: 200px;
        
    }

    .logo a img{
    max-height: 200px;
    margin: 0;
    max-width: inherit;
    object-fit: cover;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar .menu li a {
    color: var(--color-secondary);
    text-decoration: none;
    display: block;
    font-size: 25px;
    font-weight: 800;
    transition: color 0.3s ease;
}
.navbar .menu li a span {
    color: var(--color-fifth);
}
.navbar .menu li a:hover {
    color: var(--color-secondary);
    text-decoration: underline;
}
.menu-btn {
    color:var(--color-secondary) ;
    cursor: pointer;
    display: none;
    font-size: 40px;
}

.grid-container {
    width: 90%;
    margin: 0 auto;
    display: grid;
	grid-template-columns: repeat(12, 1fr);
    grid-column: 1 / 13;
}
header {
    grid-column: 1 / 13;

}



.content-section {
    border: 1px solid #111;
    border-radius: 5px;
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 20px 0;
    
}

.image-section {
    grid-column: 1 / 13;
    border: 1px solid #111;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 600px;
    border-radius: 10px;
    padding: 20px;
}

.image-section  .main-image {
    grid-column: 1 / 8;
    background: url('/Images/beerpic.jpg');
    background-size: cover;
    height: auto;
    border-radius: 10px;
    
}
.image-section  .oppettider{
    grid-column: 9 / 13;
    border: 1px solid #111;
    border-radius: 10px;
    padding: 20px;
}
.oppettider > h1 {
    text-decoration: underline;
}

.image-section  .oppettider h1{
    text-align: center;
}

.pos {
    text-decoration: none;
    list-style: none;
    border-bottom: 1px solid #111;
}
.pos span {
    margin: 0 20px;
    text-decoration: underline;
}
.pos h3 span {
    text-decoration: none;
    margin: 0;
    color: var(--color-fifth);
}

.pos1 {
    border-top: 1px solid #111;
}

.pos3 p {
    color: rgb(151, 12, 12);
    font-weight:bolder;

}



main {
    grid-column: 1 / 13;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.test {
    grid-column: 2 / 12;
    margin: 20px 0;
}
.main-wrapper {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    grid-column: 2 / 12;
    margin: 20px;
   
}

.main-wrapper h1 {
    padding: 30px;
    display: inline-block;
    font-family: var(--ff-primary);
    border: 1px solid #111;
    border-radius: 10px;

}

.footer-container {
    grid-column: 1 / 13;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    border-top: 1px solid #111;
}

footer {
    grid-column: 1 / 13;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
}
.footer-item {
    font-size: 40px;
    text-align: center;
    border: 1px solid #111;
    padding: 30px;
    border-radius: 10px;
}
.footer-item:hover {
    transform: scale(1.15);
}
.footer-item i {
    color: var(--color-fifth);
}
.footer-item a {
    text-decoration:none;
    list-style: none;
    color: var(--color-secondary);
}



@media (max-width:1500px) {
    .menu-btn {
        margin-right: 15px;
        font-size: 30px;
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content:"\f00d";
    }
    .navbar .menu {
        position: fixed;
        background: #111;
        height: 100vh;
        width: 100%;
        left: -1000%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
        
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 30px;
    } 
}
    @media (max-width:1000px) {
        .footer-item {
            margin: 0 20px;
        }
    }
    @media (max-width:1000px) {
        .navbar .navbar-container {
            justify-content: space-evenly;
        }
        .image-section {
            display: block;
        }
        footer {
            display: block;
        }

        .footer-item {
            margin: 30px auto;
            padding: 30px;
            width: 70%;

            
        }
        .footer-item p {
            font-size: 15px;
        }
        .footer-item:hover {
            transform: scale(1.05);
        }

    }